<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train Manager</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div class="container">
        <h1>
            Train Manager
        </h1>
        <button id="clear-devices">Clear Connected Devices</button>
        {% for device in connected_devices %}
        <div>
            <h2>Device {{ device.id }} ({{ device.type }})</h2>
            <p>IP Address: {{ device.ip }}</p>
            <div>
                <div>
                    <label for="direction-{{ device.id }}">Direction:</label>
                    <select id="direction-{{ device.id }}" name="direction">
                        <option value="1">Forward</option>
                        <option value="0">Backward</option>
                    </select>
                </div>
                <div>
                    <label for="speed-{{ device.id }}">Speed:</label>
                    <input type="number" id="speed-{{ device.id }}" name="speed" value="720">
                </div>
                <div>
                    <a href="/api/start?ip={{ device.ip }}" id="start-{{ device.id }}">Start</a>
                    <a href="/api/start_gradually?ip={{ device.ip }}" id="start_gradually-{{ device.id }}">Slow start</a>
                </div>
            </div>
            <div>
                <a href="/api/stop?ip={{ device.ip }}" id="stop-{{ device.id }}">Stop</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <p>
    </p>
    <script type="text/javascript">
        $(document).ready(function () {
            $('a').click(function (event) {
                event.preventDefault();
                let url = $(this).attr('href');
                let id = $(this).attr('id').split('-')[1];
                if (url.includes('/api/start') || url.includes('/api/start_gradually')) {
                    url += '&direction=' + $('#direction-' + id).val() + '&speed=' + $('#speed-' + id).val();
                }
                $.get(url, function (data, status, xhr) {
                    if (xhr.status !== 200) {
                        alert(data);
                    }
                });
            });

            $('#clear-devices').click(function () {
                $.post('/api/clear_devices', function (data, status, xhr) {
                    if (xhr.status === 200) {
                        location.reload();
                    } else {
                        alert(data.message);
                    }
                });
            });
        });
    </script>
</body>

</html>